*, *::after, *::before {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
}

.about_us .heading-div {
  width: 100%;
  height: 450px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-image: url("./about-us_bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.about_us .heading-div h1 {
  text-align: center;
  font-size: 100px;
  color: white;
  width: 100%;
}

.about_us .heading-div h1:hover {
  background-color: rgba(0, 0, 0, 0.562);
}

.about_us .para-div {
  width: 100%;
  height: auto;
}

.about_us .profile-cards-div {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.about_us .profile-cards-div .card-items-div {
  width: 75%;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.about_us .profile-cards-div .card-items-div .cards-heading-div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.about_us .profile-cards-div .card-items-div .flex-row-1 {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.about_us .profile-cards-div .card-items-div .flex-row-1 .item-1 {
  width: 24%;
  height: 300px;
  border: 1px solid black;
  background-image: url("./random-1.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.about_us .profile-cards-div .card-items-div .flex-row-1 .item-1:hover h4 {
  visibility: visible;
  background-color: rgba(0, 0, 0, 0.589);
}

.about_us .profile-cards-div .card-items-div .flex-row-1 .item-2 {
  width: 24%;
  height: 300px;
  border: 1px solid black;
  background-image: url("./random-2.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.about_us .profile-cards-div .card-items-div .flex-row-1 .item-2:hover h4 {
  visibility: visible;
  background-color: rgba(0, 0, 0, 0.589);
}

.about_us .profile-cards-div .card-items-div .flex-row-1 .item-3 {
  width: 24%;
  height: 300px;
  border: 1px solid black;
  background-image: url("./random-3.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.about_us .profile-cards-div .card-items-div .flex-row-1 .item-3:hover h4 {
  visibility: visible;
  background-color: rgba(0, 0, 0, 0.589);
}

.about_us .profile-cards-div .card-items-div .flex-row-1 .item-4 {
  width: 24%;
  height: 300px;
  border: 1px solid black;
  background-image: url("./random-4.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.about_us .profile-cards-div .card-items-div .flex-row-1 .item-4:hover h4 {
  visibility: visible;
  background-color: rgba(0, 0, 0, 0.589);
}

.about_us .profile-cards-div .card-items-div .flex-row-2 {
  margin-top: 10px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.about_us .profile-cards-div .card-items-div .flex-row-2 .item-1 {
  width: 24%;
  height: 300px;
  border: 1px solid black;
  background-image: url("./random-5.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.about_us .profile-cards-div .card-items-div .flex-row-2 .item-1:hover h4 {
  visibility: visible;
  background-color: rgba(0, 0, 0, 0.589);
}

.about_us .profile-cards-div .card-items-div .flex-row-2 .item-2 {
  width: 24%;
  height: 300px;
  border: 1px solid black;
  background-image: url("./random-6.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.about_us .profile-cards-div .card-items-div .flex-row-2 .item-2:hover h4 {
  visibility: visible;
  background-color: rgba(0, 0, 0, 0.589);
}

.about_us .profile-cards-div .card-items-div .flex-row-2 .item-3 {
  width: 24%;
  height: 300px;
  border: 1px solid black;
  background-image: url("./random-7.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.about_us .profile-cards-div .card-items-div .flex-row-2 .item-3:hover h4 {
  visibility: visible;
  background-color: rgba(0, 0, 0, 0.589);
}

.about_us .profile-cards-div .card-items-div .flex-row-2 .item-4 {
  width: 24%;
  height: 300px;
  border: 1px solid black;
  background-image: url("./random-8.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.about_us .profile-cards-div .card-items-div .flex-row-2 .item-4:hover h4 {
  visibility: visible;
  background-color: rgba(0, 0, 0, 0.589);
}

.modal .modal-dialog {
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
  -webkit-box-pack: center !important;
      -ms-flex-pack: center !important;
          justify-content: center !important;
  -webkit-box-align: center !important;
      -ms-flex-align: center !important;
          align-items: center !important;
}

.modal .modal-dialog .modal-content {
  height: 550px !important;
  width: 200% !important;
  border-radius: 0px;
}

.modal .modal-dialog .modal-content .modal-body {
  width: 1000px !important;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.modal .modal-dialog .modal-content .modal-body .modal-content-div {
  width: 80%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.modal .modal-dialog .modal-content .modal-body .modal-content-div .modal-item-1 {
  width: 47%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.modal .modal-dialog .modal-content .modal-body .modal-content-div .modal-item-2 {
  width: 47%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.modal .modal-dialog .modal-content .modal-body .modal-content-div .modal-item-2 .profile-content-div {
  width: 100%;
  height: 70%;
}

.profile-pic-div-1 {
  width: 85%;
  height: 80%;
}

.profile-pic-div-1 img {
  width: 100%;
  height: 100%;
}

.profile-pic-div-2 {
  width: 85%;
  height: 80%;
}

.profile-pic-div-2 img {
  width: 100%;
  height: 100%;
}

.profile-pic-div-3 {
  width: 85%;
  height: 80%;
}

.profile-pic-div-3 img {
  width: 100%;
  height: 100%;
}

.profile-pic-div-4 {
  width: 85%;
  height: 80%;
}

.profile-pic-div-4 img {
  width: 100%;
  height: 100%;
}

.profile-pic-div-5 {
  width: 85%;
  height: 80%;
}

.profile-pic-div-5 img {
  width: 100%;
  height: 100%;
}

.profile-pic-div-6 {
  width: 85%;
  height: 80%;
}

.profile-pic-div-6 img {
  width: 100%;
  height: 100%;
}

.profile-pic-div-7 {
  width: 85%;
  height: 80%;
}

.profile-pic-div-7 img {
  width: 100%;
  height: 100%;
}

.profile-pic-div-8 {
  width: 85%;
  height: 80%;
}

.profile-pic-div-8 img {
  width: 100%;
  height: 100%;
}

.btn-div {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.btn-div .name-and-post {
  color: white;
  visibility: hidden;
}

@media screen and (max-width: 480px) {
  .flex-row-1 {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: auto !important;
    margin-top: 20px !important;
  }
  .flex-row-2 {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: auto !important;
    margin-top: 20px;
  }
}

@media screen and (max-width: 480px) {
  .item-1 {
    margin-top: 20px !important;
    width: 90% !important;
  }
  .item-2 {
    margin-top: 20px !important;
    width: 90% !important;
    height: 300px !important;
  }
  .item-3 {
    margin-top: 20px !important;
    width: 90% !important;
  }
  .item-4 {
    margin-top: 20px !important;
    width: 90% !important;
  }
  h4 {
    visibility: visible;
    background-color: rgba(0, 0, 0, 0.589);
  }
}

@media screen and (max-width: 480px) {
  .heading-div {
    width: 100%;
    height: 200px !important;
  }
  .para-div {
    width: 100%;
    height: auto !important;
  }
}

@media screen and (max-width: 480px) {
  h1 {
    font-size: 50px !important;
    background-color: rgba(0, 0, 0, 0.562) !important;
  }
}

@media screen and (max-width: 480px) {
  .modal .modal-dialog {
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
    -webkit-box-pack: center !important;
        -ms-flex-pack: center !important;
            justify-content: center !important;
    -webkit-box-align: center !important;
        -ms-flex-align: center !important;
            align-items: center !important;
  }
  .modal .modal-dialog .modal-content {
    height: 400px !important;
    width: 100% !important;
    border-radius: 0px;
  }
  .modal .modal-dialog .modal-content .modal-body {
    width: 400px !important;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
  .modal .modal-dialog .modal-content .modal-body .modal-content-div {
    width: 80%;
    height: 100%;
    margin-left: 5px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .modal .modal-dialog .modal-content .modal-body .modal-content-div .modal-item-1 {
    width: 49%;
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .modal .modal-dialog .modal-content .modal-body .modal-content-div .modal-item-1 .profile-pic-div-1 {
    width: 97% !important;
    height: 70% !important;
  }
  .modal .modal-dialog .modal-content .modal-body .modal-content-div .modal-item-1 .profile-pic-div-2 {
    width: 97% !important;
    height: 70% !important;
  }
  .modal .modal-dialog .modal-content .modal-body .modal-content-div .modal-item-1 .profile-pic-div-3 {
    width: 97% !important;
    height: 70% !important;
  }
  .modal .modal-dialog .modal-content .modal-body .modal-content-div .modal-item-1 .profile-pic-div-4 {
    width: 97% !important;
    height: 70% !important;
  }
  .modal .modal-dialog .modal-content .modal-body .modal-content-div .modal-item-1 .profile-pic-div-5 {
    width: 97% !important;
    height: 70% !important;
  }
  .modal .modal-dialog .modal-content .modal-body .modal-content-div .modal-item-1 .profile-pic-div-6 {
    width: 97% !important;
    height: 70% !important;
  }
  .modal .modal-dialog .modal-content .modal-body .modal-content-div .modal-item-1 .profile-pic-div-7 {
    width: 97% !important;
    height: 70% !important;
  }
  .modal .modal-dialog .modal-content .modal-body .modal-content-div .modal-item-1 .profile-pic-div-8 {
    width: 97% !important;
    height: 70% !important;
  }
  .modal .modal-dialog .modal-content .modal-body .modal-content-div .modal-item-2 {
    width: 49%;
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .modal .modal-dialog .modal-content .modal-body .modal-content-div .modal-item-2 .profile-content-div {
    width: 100%;
    height: 70%;
    padding-top: 0px !important;
  }
  .modal .modal-dialog .modal-content .modal-body .modal-content-div .modal-item-2 .profile-content-div h1 {
    font-size: 17px !important;
    background-color: white !important;
  }
  .modal .modal-dialog .modal-content .modal-body .modal-content-div .modal-item-2 .profile-content-div h3 {
    font-size: 13px !important;
  }
  .modal .modal-dialog .modal-content .modal-body .modal-content-div .modal-item-2 .profile-content-div p {
    font-size: 9px;
  }
}
/*# sourceMappingURL=style.css.map */