*,*::after,*::before{
    box-sizing: border-box;
    margin: 0;
    
}

// body{
//     background-color: rgba(216, 216, 110, 0.692);
// }

.about_us{
    // border: 1px dashed blue;

    .heading-div{
        width: 100%;
        height: 450px;

        // border: 2px solid red;

        display: flex;
        justify-content: center;
        align-items: center;

        .h1-background{

            background-color: rgba(0, 0, 0, 0.562);
            width: 100%;

      

            h1{
            font-size: 100px;
            color: white;
            width: 100%;
            text-align: center;
            
            // display: flex;
            // justify-content: center;
            // align-items: center;
            }
        }
        
 

        background-image: url('./about-us_bg.jpg');
        background-repeat: no-repeat;
        background-size: cover;
    }

    .para-div{
        width: 100%;
        height: auto;
        margin-top: 20px;
        padding-left: 170px;
        padding-right: 170px;
        // border: 1px solid blueviolet;
        margin-bottom: 50px;

        h3{
            text-align: center;
        }

        h5{
            padding: 20px 20px;
            background-color: rgba(127, 127, 182, 0.534);
            text-align: center;
            border-radius: 10px;
        }
    }

    .profile-cards-div{
        width: 100%;
        // border: 1px solid green;

        display: flex;
        justify-content: center;
        align-items: center;

        .card-items-div{
            width: 75%;
            height: auto;
            // border: 2px solid rgb(47, 83, 83);

            display: flex;
            flex-direction: column;
            justify-content: space-between;

            .cards-heading-div{
                // border: 1px solid yellowgreen;
                display: flex;
                justify-content: center;

            }

            
            .flex-row-1{
                width: 100%;
                // height: 45%;
                // border: 1px solid brown;

                display: flex;
                justify-content: space-between;
                align-items: center;



                .item-1{
                    width: 24%;
                    height: 300px;
                    border:1px solid rgba(107, 117, 172, 0.5);

                    background-image: url('./random-1.jpg');
                    background-repeat: no-repeat;
                    background-size: cover;

                    
                    display: flex;
                    align-items: flex-end;

                    &:hover{
                        h4{
                            visibility: visible;
                            background-color: rgba(0, 0, 0, 0.589);
                        }
                    }
                }
                
                .item-2{
                    width: 24%;
                    height: 300px;
                    border:1px solid rgba(107, 117, 172, 0.5);

                    background-image: url('./random-2.jpg');
                    background-repeat: no-repeat;
                    background-size: cover;

                    
                    display: flex;
                    align-items: flex-end;

                    
                    &:hover{
                        h4{
                            visibility: visible;
                            background-color: rgba(0, 0, 0, 0.589);
                        }
                    }
                }

                .item-3{
                    width: 24%;
                    height: 300px;
                    border:1px solid rgba(107, 117, 172, 0.5);

                    background-image: url('./random-3.jpg');
                    background-repeat: no-repeat;
                    background-size: cover;

                    
                    display: flex;
                    align-items: flex-end;

                    
                    &:hover{
                        h4{
                            visibility: visible;
                            background-color: rgba(0, 0, 0, 0.589);
                        }
                    }
                }

                .item-4{
                    width: 24%;
                    height: 300px;
                    border:1px solid rgba(107, 117, 172, 0.5);


                    background-image: url('./random-4.jpg');
                    background-repeat: no-repeat;
                    background-size: cover;

                    
                    display: flex;
                    align-items: flex-end;

                    
                    &:hover{
                        h4{
                            visibility: visible;
                            background-color: rgba(0, 0, 0, 0.589);
                        }
                    }
                }
                // .item-1{
                //     width: 30%;
                //     height: 300px;
                //     border:1px solid black;

                //     display: flex;
                //     align-items: flex-end;

                    
                //     &:hover{
                //         h2{
                //             color: black;
                //         }
                //     }


                // }











                
                // .item-2{
                //     width: 36%;
                //     height: 250px;
                //     border:1px solid black;

                    
                //     display: flex;
                //     align-items: flex-end;

                    
                //     &:hover{
                //         h2{
                //             color: black;
                //         }
                //     }
                    
                // }
                
                // .item-3{
                //     width: 30%;
                //     height: 300px;
                //     border:1px solid black;

                    
                //     display: flex;
                //     align-items: flex-end;

                    
                //     &:hover{
                //         h2{
                //             color: black;
                //         }
                //     }
                // }
            }












            .flex-row-2{
                margin-top: 10px;
                width: 100%;
                // height: 40%;
                // border: 1px solid brown;

                display: flex;
                justify-content: space-between;
                align-items: center;


                .item-1{
                    width: 24%;
                    height: 300px;
                    border:1px solid rgba(107, 117, 172, 0.5);

                    background-image: url('./random-5.jpg');
                    background-repeat: no-repeat;
                    background-size: cover;

                    
                    display: flex;
                    align-items: flex-end;

                    &:hover{


                        h4{
                            visibility: visible;
                            background-color: rgba(0, 0, 0, 0.589);
                        }
                    }
                }
                
                .item-2{
                    width: 24%;
                    height: 300px;
                    border:1px solid rgba(107, 117, 172, 0.5);


                    background-image: url('./random-6.jpg');
                    background-repeat: no-repeat;
                    background-size: cover;

                    
                    display: flex;
                    align-items: flex-end;

                    
                    &:hover{
                        h4{
                            visibility: visible;
                            background-color: rgba(0, 0, 0, 0.589);
                        }
                    }
                }

                .item-3{
                    width: 24%;
                    height: 300px;
                    border:1px solid rgba(107, 117, 172, 0.5);

                    background-image: url('./random-7.jpg');
                    background-repeat: no-repeat;
                    background-size: cover;

                    
                    display: flex;
                    align-items: flex-end;

                    
                    &:hover{
                        h4{
                            visibility: visible;
                            background-color: rgba(0, 0, 0, 0.589);
                        }
                    }
                }

                .item-4{
                    width: 24%;
                    height: 300px;
                    border:1px solid rgba(107, 117, 172, 0.5);

                    background-image: url('./random-8.jpg');
                    background-repeat: no-repeat;
                    background-size: cover;

                    
                    display: flex;
                    align-items: flex-end;

                    
                    &:hover{
                        h4{
                            visibility: visible;
                            background-color: rgba(0, 0, 0, 0.589);
                        }
                    }
                }

                // .item-5{
                //     // width: 49%;
                //     height: 300px;
                //     border:1px solid black;

                    
                //     display: flex;
                //     align-items: flex-end;

                    
                //     &:hover{
                //         h2{
                //             color: black;
                //         }
                //     }
                // }

            }
        }
    }

}



.modal{
                      
    .modal-dialog{

        display: flex !important;
        justify-content: center !important;
        align-items: center !important;


  
        .modal-content{
            height: 550px !important;
            width: 200% !important;
            border-radius: 0px;

            .modal-body{
                width: 1000px !important;
                display: flex;
                justify-content: center;

                .modal-content-div{
                    width: 80%;
                    height: 100%;
                    // background-color: yellow;

                    display: flex;
                    justify-content: space-between;



                    .modal-item-1{
                        width: 47%;
                        height: 100%;
                        // border: 1px dashed green;

                        display: flex;
                        justify-content: center;
                        align-items: center;

                    }

                    .modal-item-2{
                        width: 47%;
                        height: 100%;
                        // border: 1px dashed green;

                        display: flex;
                        justify-content: center;
                        align-items: center;

                        .profile-content-div{
                            width: 100%;
                            height: 70%;
                            // border: 1px solid green;
                        }
                    }
                }
                 
            }
        }

    }

}


.profile-pic-div-1{
    width: 85%;
    height: 80%;
    // border: 1px solid palevioletred;

    img{
        width: 100%;
        height: 100%;
    }
}

.profile-pic-div-2{
    width: 85%;
    height: 80%;
    // border: 1px solid palevioletred;

    img{
        width: 100%;
        height: 100%;
    }
}

.profile-pic-div-3{
    width: 85%;
    height: 80%;
    // border: 1px solid palevioletred;

    img{
        width: 100%;
        height: 100%;
    }
}

.profile-pic-div-4{
    width: 85%;
    height: 80%;
    // border: 1px solid palevioletred;

    img{
        width: 100%;
        height: 100%;
    }
}

.profile-pic-div-5{
    width: 85%;
    height: 80%;
    // border: 1px solid palevioletred;

    img{
        width: 100%;
        height: 100%;
    }
}

.profile-pic-div-6{
    width: 85%;
    height: 80%;
    // border: 1px solid palevioletred;

    img{
        width: 100%;
        height: 100%;
    }
}

.profile-pic-div-7{
    width: 85%;
    height: 80%;
    // border: 1px solid palevioletred;

    img{
        width: 100%;
        height: 100%;
    }
}

.profile-pic-div-8{
    width: 85%;
    height: 80%;
    // border: 1px solid palevioletred;

    img{
        width: 100%;
        height: 100%;
    }
}



.btn-div{
    width: 100%;
    height: 100%;

    display: flex;
    justify-content: flex-end;
    flex-direction: column;

    

        .name-and-post{


            
            color: white;
            visibility: hidden;
            
    
        }
    
    


}


@media screen and (max-width: 480px) {
    .flex-row-1 {
      flex-direction: column;
      height: auto !important;
      margin-top: 20px !important;

  
    }

    .flex-row-2 {
        flex-direction: column;
        height: auto !important;
        margin-top: 20px;
        
      }

      


  }


  @media screen and (max-width: 480px) {




    .cards-heading-div{
        position: relative;
        top: 20px;
    }

    .item-1{
        width: 90% !important;
   
    }
    .item-2{
        margin-top: 20px !important;
        width: 90% !important;
        height: 300px !important;
    }
    .item-3{
        margin-top: 20px !important;
        width: 90% !important;
    }

    .item-4{
        margin-top: 20px !important;
        width: 90% !important;
    }

    h4{
        visibility: visible;
        background-color: rgba(0, 0, 0, 0.589);
    }
    
  }


  @media screen and (max-width: 480px) {

    .heading-div{
        width: 100%;
        height: 200px !important;
        

    }



    .para-div{
        width: 100%;
        height: auto !important;
    }

  }

  @media screen and (max-width: 480px) {

    .about_us{
        .heading-div{

            .h1-background{


                h1{
                    font-size: 50px !important;
                }
            }


        }
    }

  

  }




  @media screen and (max-width: 480px) {




    .modal{
                      
        .modal-dialog{
    
            display: flex !important;
            justify-content: center !important;
            align-items: center !important;
    
    
      
            .modal-content{
                height: 400px !important;
                width: 100% !important;
                border-radius: 0px;
    
                .modal-body{
                    width: 400px !important;
                    display: flex;
                    justify-content: flex-start;
    
                    .modal-content-div{
                        width: 80%;
                        height: 100%;
                        margin-left: 5px;
                        // background-color: yellow;
    
                        display: flex;
                        justify-content: space-between;
    
    
    
                        .modal-item-1{
                            width: 49%;
                            height: 100%;
                            // border: 1px dashed green;
    
                            display: flex;
                            justify-content: center;
                            align-items: flex-start;
                            margin-top: 30px;
    
                            .profile-pic-div-1{
                                width: 97% !important;
                                height: 70% !important;
                                // border: 1px solid palevioletred;
                            }

                             
                            .profile-pic-div-2{
                                width: 97% !important;
                                height: 70% !important;
                                // border: 1px solid palevioletred;
                            }

                             
                            .profile-pic-div-3{
                                width: 97% !important;
                                height: 70% !important;
                                // border: 1px solid palevioletred;
                            }

                             
                            .profile-pic-div-4{
                                width: 97% !important;
                                height: 70% !important;
                                // border: 1px solid palevioletred;
                            }

                             
                            .profile-pic-div-5{
                                width: 97% !important;
                                height: 70% !important;
                                // border: 1px solid palevioletred;
                            }

                             
                            .profile-pic-div-6{
                                width: 97% !important;
                                height: 70% !important;
                                // border: 1px solid palevioletred;
                            }

                             
                            .profile-pic-div-7{
                                width: 97% !important;
                                height: 70% !important;
                                // border: 1px solid palevioletred;
                            }

                             
                            .profile-pic-div-8{
                                width: 97% !important;
                                height: 70% !important;
                                // border: 1px solid palevioletred;
                            }
                        }
    
                        .modal-item-2{
                            width: 49%;
                            height: 100%;
                            // border: 1px dashed green;
                            // margin-bottom: 40px !important;
    
                            display: flex;
                            justify-content: center;
                            align-items: flex-start;
                            margin-top: 30px;
    
                            .profile-content-div{
                                width: 100%;
                                height: 70%;
                                // border: 1px solid green;
                                 padding-top: 0px !important;

                                h1{
                                    font-size: 17px !important;
                                    background-color: white !important;
                                }

                                h3{
                                    font-size: 13px !important;
                                }

                                p{
                                    font-size: 9px;
                                }
                            }
                        }
                    }
                     
                }
            }
    
        }
    
    }


  }




  @media screen and (max-width: 480px) {

    .about_us{

        .para-div{
            width: 100%;
            height: auto;
            margin-top: 25px !important ;
            padding-left: 20px !important;
            padding-right: 20px !important;
            // border: 1px solid blueviolet;


            h3{
                text-align: center;
            }
    
            h5{
                padding: 7px 7px !important;
                background-color: rgba(127, 127, 182, 0.534);
                text-align: center;
                border-radius: 10px;
            }

        }
    }



  }


